{% capture redirectScript %}{% render 'bsscommerce-redirect-product-page-logic', product: product %}{% endcapture -%}
{%- assign redirectScript = redirectScript | strip -%}
{%- unless redirectScript contains 'Liquid error' -%}
  {%- if redirectScript != '' -%}
    <script id="bss-redirect" type="text/javascript">
      window.location.replace("{{ redirectScript }}")
    </script>
  {%- endif -%}
{%- endunless %}
{%- unless template.suffix contains 'quick-buy' -%}
  <style>
            #shopify-section-{{ section.id }} {
              {%- assign buy_buttons_block = section.blocks | where: 'type', 'buy_buttons' | first -%}

              {%- if buy_buttons_block.settings.show_payment_button -%}
                {%- if buy_buttons_block.settings.atc_button_background == 'rgba(0,0,0,0)' -%}
                  {%- assign secondary_button_background = settings.secondary_button_background -%}
                {%- else -%}
                  {%- assign secondary_button_background = buy_buttons_block.settings.atc_button_background -%}
                {%- endif -%}

                {%- if buy_buttons_block.settings.atc_button_text_color == 'rgba(0,0,0,0)' -%}
                  {%- assign secondary_button_text_color = settings.secondary_button_text_color -%}
                {%- else -%}
                  {%- assign secondary_button_text_color = buy_buttons_block.settings.atc_button_text_color -%}
                {%- endif -%}

                {%- if buy_buttons_block.settings.buy_now_button_background == 'rgba(0,0,0,0)' -%}
                  {%- assign primary_button_background = settings.primary_button_background -%}
                {%- else -%}
                  {%- assign primary_button_background = buy_buttons_block.settings.buy_now_button_background -%}
                {%- endif -%}

                {%- if buy_buttons_block.settings.buy_now_button_text_color == 'rgba(0,0,0,0)' -%}
                  {%- assign primary_button_text_color = settings.primary_button_text_color -%}
                {%- else -%}
                  {%- assign primary_button_text_color = buy_buttons_block.settings.buy_now_button_text_color -%}
                {%- endif -%}
              {%- else -%}
                {%- if buy_buttons_block.settings.atc_button_background == 'rgba(0,0,0,0)' -%}
                  {%- assign primary_button_background = settings.primary_button_background -%}
                {%- else -%}
                  {%- assign primary_button_background = buy_buttons_block.settings.atc_button_background -%}
                {%- endif -%}

                {%- if buy_buttons_block.settings.atc_button_text_color == 'rgba(0,0,0,0)' -%}
                  {%- assign primary_button_text_color = settings.primary_button_text_color -%}
                {%- else -%}
                  {%- assign primary_button_text_color = buy_buttons_block.settings.atc_button_text_color -%}
                {%- endif -%}
              {%- endif -%}

              --primary-button-background: {{ primary_button_background.red }}, {{ primary_button_background.green }}, {{ primary_button_background.blue }};
              --primary-button-text-color: {{ primary_button_text_color.red }}, {{ primary_button_text_color.green }}, {{ primary_button_text_color.blue }};
              --secondary-button-background: {{ secondary_button_background.red }}, {{ secondary_button_background.green }}, {{ secondary_button_background.blue }};
              --secondary-button-text-color: {{ secondary_button_text_color.red }}, {{ secondary_button_text_color.green }}, {{ secondary_button_text_color.blue }};
            }

            #enable_dark-mode, 
    #enable_dark-mode .combo-box {
      background-color: {{section.settings.default_background_color}};
      padding: 1px 0;
    }

    #enable_dark-mode .combo-box button.combo-box__option-item:hover,
    #enable_dark-mode .combo-box button.combo-box__option-item[aria-selected="true"]
    {
      background-color: {{section.settings.default_background_color}};
      opacity: 0.7;
    }
  #enable_dark-mode .combo-box__option-list{
      background-color:{{section.settings.boxBG}};
  }
 
  #enable_dark-mode .combo-box__option-list button.combo-box__option-item:hover,
  #enable_dark-mode .combo-box__option-list button.combo-box__option-item[aria-selected="true"] {
    background-color:{{section.settings.boxBG2}};
    opacity: 1;
}
   #enable_dark-mode .combo-box__option-list .combo-box__option-item:not([hidden]) {
    color:{{section.settings.boxText}};
}

            @media screen and (min-width: 1000px){
              #enable_dark-mode .product.product--thumbnails-bottom {
                margin-bottom: 0px;
                padding-bottom: 80px;
              }
            }
           @media screen and (max-width: 475px){
          #shopify-section-{{ section.id }} .product__info {
          margin-top:15px;
          padding: 20px;
          padding-inline: 15px !important;
        }
           }

          .product__thumbnail-scroll-shadow {
            --scroll-shadow-right: linear-gradient(to left, {{ section.settings.default_background_color }}, rgba(var(--background), 0));
            --scroll-shadow-left: linear-gradient(to right, {{ section.settings.default_background_color }}, rgba(var(--background), 0));
            --scroll-shadow-bottom: linear-gradient(to top, {{ section.settings.default_background_color }}, rgba(var(--background), 0));
            --scroll-shadow-top: linear-gradient(to bottom, {{ section.settings.default_background_color }}, rgba(var(--background), 0));
        }

  .slideshow__details{
    position: relative;
    padding: 16px 30px;
    background: {{ section.settings.ImageTitleBg }};
  }
  .slideshow__details:after {
      clear: both;
      content: "";
      display: table;
  }
  .slideshow__title{

    font-size:medium;
    color:#182A19;
     font-weight: 500;
      float: left;
      line-height: 32px;
      width: auto;

  }
  .slideshow__button{
    float: right;
      width: auto;

    border: none;
  }
  .slideshow__button span{
      color: #979797;
      font-size: 12px;
      font-weight: 100;
      line-height: 32px;
      text-decoration: underline;
  }
  .slide_Icon{
      height: 16px;
      margin-left: 8px;
      vertical-align: sub;
      width: 16px;
  }
  .slideshow__tooltip {
        width: -webkit-fill-available;
      position: absolute;
      margin: 0 16px;
      bottom: 55px;
      background: #f7f7f7;
      border-radius: 2px;
      -webkit-box-shadow: 0 8px 32px #9696964d;
              box-shadow: 0 8px 32px #9696964d;
      padding: 8px 16px;
  }
  .slideshow__tooltip p{
      margin: 0;
  }
    .slideshow__tooltip:after {
      border-color: #f7f7f7 hsla(0,0%,100%,0) hsla(0,0%,100%,0);
      border-style: solid;
      border-width: 16px 16px 0;
      bottom: -8px;
      content: "";
      position: absolute;
      right: 0;
  }
  
    @media screen and (max-width: 740px) {
      .hidden-phone {
        display: none !important;
      }
    .slideshow__details{
    position: relative;
    padding: 16px 5px 16px 20px;
    background: {{ section.settings.ImageTitleBg }};
  }
  .containerpaddingright{
  padding: 0px;
  }
    }

    @media screen and (min-width: 741px) {
      .hidden-tablet-and-up {
        display: none !important;
      }
    }

  
    {%- if section.settings.custom_css != blank -%}
    {%- assign custom_section_declarations = section.settings.custom_css | split: '}' -%}
    {%- for declaration in custom_section_declarations -%}
      {%- if declaration contains '{' -%}
        #shopify-section-{{ section.id }} {{ declaration }} }
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}


  /* Landscape phones and down */
  @media (max-width: 480px) {

    {%- if section.settings.mobile_custom_css != blank -%}
      {%- assign mobile_custom_declarations = section.settings.mobile_custom_css | split: '}' -%}
      {%- for declaration in mobile_custom_declarations -%}
        {%- if declaration contains '{' -%}
          #shopify-section-{{ section.id }} {{ declaration }} }
        {%- endif -%}
      {%- endfor -%}
    {%- endif -%}
  }
  </style>

  <section
    class="{%if section.settings.enable_dark_mode == true %}main_product-section{%endif%}"
    id="{%if section.settings.enable_dark_mode == true %}enable_dark-mode{%endif%}"
  >
    {%- if section.settings.show_sticky_add_to_cart and product.available -%}
      {%- render 'product-sticky-form', product: product -%}
    {%- endif -%}

    <div class="container">
      <nav aria-label="{{ 'general.breadcrumb.title' | t }}" class="breadcrumb text--xsmall text--subdued hidden-phone">
        <ol class="breadcrumb__list" role="list">
          <li class="breadcrumb__item">
            <a class="breadcrumb__link" href="{{ routes.root_url }}">{{ 'general.breadcrumb.home' | t }}</a>
          </li>

          {%- if collection -%}
            <li class="breadcrumb__item">
              <a class="breadcrumb__link" href="{{ collection.url }}">{{- collection.title -}}</a>
            </li>
          {%- endif -%}

          <li class="breadcrumb__item">
            <span class="breadcrumb__link" aria-current="page">{{ product.title }}</span>
          </li>
        </ol>
      </nav>

      <!-- PRODUCT TOP PART -->
      <div class="product product--thumbnails-{{ section.settings.desktop_thumbnails_position }}">
        <div>
          {%- render 'product-media',
            product: product,
            d_bg_color: section.settings.default_background_color,
            d_bg_color2: section.settings.default_background_color2,
            darkmode: section.settings.enable_dark_mode
          -%}
  
          <div class="hidden-phone">
          {% assign hp="hp" %}
            {% render 'faqSnippet' ,idd:hp %}
  
          </div>
        </div>
        {%- render 'product-info',
          product: product,
          d_text-color: section.settings.default_text_color,
          update_url: true
        -%}
      </div>
      <div class="hidden-tablet-and-up">
        {% render 'faqSnippet'  ,idd:'hm' %}
      </div>
    </div>
  </section>
{%- else -%}
  {%- comment -%}
    The quick shop HTML being very different, we render it here. On mobile and tablet/desktop, the product renders also
    quite differently, as it is in a drawer on tablet/desktop, and a popover on mobile.
  {%- endcomment -%}

  {%- capture quick_buy_product_info -%}
    <div class="quick-buy-product">
      {%- assign featured_media = product.selected_or_first_available_variant.featured_media | default: product.featured_media -%}

      {%- if template.suffix == 'quick-buy-drawer' -%}
        <img loading="lazy" sizes="114px" class="quick-buy-product__image" {% render 'image-attributes', image: featured_media, sizes: '114,228,342' %}>
      {%- else -%}
        <img loading="lazy" sizes="65px" class="quick-buy-product__image" {% render 'image-attributes', image: featured_media, sizes: '65,130,195' %}>
      {%- endif -%}

      <div class="quick-buy-product__info {% if template.suffix == 'quick-buy-popover' %}text--small{% endif %}">
        <product-meta form-id="product-form-{{ section.id }}-{{ product.id }}" unit-price-class="text--xsmall" class="product-item-meta">
          {%- if section.settings.show_vendor -%}
            {%- assign vendor_handle = product.vendor | handle -%}
            {%- assign collection_for_vendor = collections[vendor_handle] -%}

            {%- unless collection_for_vendor.empty? -%}
              <a href="{{ collection_for_vendor.url }}" class="product-item-meta__vendor heading {% if template.suffix == 'quick-buy-drawer' %}heading--small{% else %}heading--xsmall{% endif %}">{{ product.vendor }}</a>
            {%- else -%}
              <a href="{{ product.vendor | url_for_vendor }}" class="product-item-meta__vendor heading {% if template.suffix == 'quick-buy-drawer' %}heading--small{% else %}heading--xsmall{% endif %}">{{ product.vendor }}</a>
            {%- endunless -%}
          {%- endif -%}

          <a href="{{ product.url }}" class="product-item-meta__title">{{ product.title }}</a>

          <div class="product-item-meta__price-list-container" role="region" aria-live="polite">
            <div class="price-list" data-product-price-list>
              {%- if product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price -%}
                <span class="price price--highlight">
                  <span class="visually-hidden">{{ 'product.general.sale_price' | t }}</span>

                  {%- if settings.currency_code_enabled -%}
                    {{- product.selected_or_first_available_variant.price | money_with_currency -}}
                  {%- else -%}
                    {{- product.selected_or_first_available_variant.price | money -}}
                  {%- endif -%}
                </span>

                <span class="price price--compare">
                  <span class="visually-hidden">{{ 'product.general.regular_price' | t }}</span>

                  {%- if settings.currency_code_enabled -%}
                    {{- product.selected_or_first_available_variant.compare_at_price | money_with_currency -}}
                  {%- else -%}
                    {{- product.selected_or_first_available_variant.compare_at_price | money -}}
                  {%- endif -%}
                </span>
              {%- else -%}
                <span class="price">
                  <span class="visually-hidden">{{ 'product.general.sale_price' | t }}</span>

                  {%- if settings.currency_code_enabled -%}
                    {{- product.selected_or_first_available_variant.price | money_with_currency -}}
                  {%- else -%}
                    {{- product.selected_or_first_available_variant.price | money -}}
                  {%- endif -%}
                </span>
              {%- endif -%}

              {%- if product.selected_or_first_available_variant.unit_price_measurement -%}
                <div class="price text--subdued text--xsmall">
                  <div class="unit-price-measurement">
                    <span class="unit-price-measurement__price">{{ product.selected_or_first_available_variant.unit_price | money }}</span>
                    <span class="unit-price-measurement__separator">/</span>

                    {%- if product.selected_or_first_available_variant.unit_price_measurement.reference_value != 1 -%}
                      <span class="unit-price-measurement__reference-value">{{ product.selected_or_first_available_variant.unit_price_measurement.reference_value }}</span>
                    {%- endif -%}

                    <span class="unit-price-measurement__reference-unit">{{ product.selected_or_first_available_variant.unit_price_measurement.reference_unit }}</span>
                  </div>
                </div>
              {%- endif -%} 
            </div>

            {%- if template.suffix == 'quick-buy-popover' -%}
              <a href="{{ product.url }}" class="link text--subdued">{{ 'product.general.view_details' | t }}</a>
            {%- endif -%}
          </div>
        </product-meta>
      </div>
    </div>
  {%- endcapture -%}

  {%- if template.suffix == 'quick-buy-drawer' -%}
    <quick-buy-drawer class="drawer drawer--large drawer--quick-buy">
      <cart-notification hidden class="cart-notification cart-notification--drawer"></cart-notification>

      <span class="drawer__overlay"></span>

      <header class="drawer__header">
        <p class="drawer__title heading h6">{{ 'product.form.choose_options' | t }}</p>

        <button
          type="button"
          class="drawer__close-button tap-area"
          data-action="close"
          title="{{ 'general.accessibility.close' | t | escape }}"
        >
          {%- render 'icon' with 'close' -%}
        </button>
      </header>

      <div class="drawer__content">
        {{- quick_buy_product_info -}}
        {%- render 'product-form', product: product -%}
      </div>
    </quick-buy-drawer>
  {%- elsif template.suffix == 'quick-buy-popover' -%}
    <quick-buy-popover class="popover popover--quick-buy">
      <span class="popover__overlay"></span>

      <header class="popover__header">
        {{- quick_buy_product_info -}}

        <button
          type="button"
          class="popover__close-button tap-area tap-area--large"
          data-action="close"
          title="{{ 'general.accessibility.close' | t | escape }}"
        >
          {%- render 'icon' with 'close' -%}
        </button>
      </header>

      <div class="popover__content popover__content--no-padding">
        {%- render 'product-form', product: product -%}
      </div>
    </quick-buy-popover>
  {%- endif -%}
{%- endunless -%}



{% schema %}
{
  "name": "Product page",
  "class": "shopify-section--main-product",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "name": "FAQ Heading",
      "type": "FAQHEAD",
      "limit": 1,
      "settings": [
          {
            "type": "text",
            "id": "FAQtitle",
            "label": "Heading",
            "default": "FAQ"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Content"
          },
          {
            "type": "header",
            "content": "Colors"
          },
          {
            "type": "color",
            "id": "FAQHEADbackground",
            "label": "Background",
            "default": "rgba(0,0,0,0)"
          },
          {
            "type": "color",
            "id": "FAQHEADtext_color",
            "label": "Text color",
            "default": "rgba(0,0,0,0)"
          }
        ]
    },
    {
      "name": "FAQ Category",
      "type": "FAQtitle2",
      "limit": 10,
      "settings": [
        {
            "type": "checkbox",
            "id": "show_navigation",
            "label": "Show navigation",
            "default": false
        },
        {
          "type": "text",
          "id": "FAQtitle2",
          "label": "Heading",
          "default": "Category"
        },
                  {
            "type": "header",
            "content": "Colors"
          },
          {
            "type": "color",
            "id": "FAQtitle2background",
            "label": "Background",
            "default": "rgba(0,0,0,0)"
          },
          {
            "type": "color",
            "id": "FAQtitle2text_color",
            "label": "Text color",
            "default": "rgba(0,0,0,0)"
          }
      ]
    },
    {
      "name": "FAQ Questions",
      "type": "FAQQUS",
      "limit": 10,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Question",
          "default": "About your shop"
        },
        {
          "type": "richtext",
          "id": "answer",
          "label": "Answer",
          "default": "<p>Write content to help your customers to better understand your products or policies.</p>"
        },
                  {
            "type": "header",
            "content": "Colors"
          },
          {
            "type": "color",
            "id": "FAQQUSbackground",
            "label": "Background",
            "default": "rgba(0,0,0,0)"
          },
          {
            "type": "color",
            "id": "FAQQUStext_color",
            "label": "Text color",
            "default": "rgba(0,0,0,0)"
          }
      ]
    },
    {
      "name": "Trust icons",
      "type": "trust",
      "limit": 3,
      "settings": [
        {
          "type": "paragraph",
          "content": "Show extra text next to your product description to improve trust."
        },
        {
          "type": "header",
          "content": "Text 1"
        },
        {
          "type": "color",
          "id": "trustIconColor_1",
          "label": "Add to trust icon and ",
          "default": "#fff"
        },
        {
          "type": "select",
          "id": "icon_1",
          "label": "Icon",
          "options": [
            {
              "value": "picto-coupon",
              "label": "Coupon",
              "group": "Shop"
            },
            {
              "value": "picto-gift",
              "label": "Gift",
              "group": "Shop"
            },
            {
              "value": "picto-taxes",
              "label": "Taxes",
              "group": "Shop"
            },
            {
              "value": "picto-warranty",
              "label": "Warranty",
              "group": "Shop"
            },
            {
              "value": "picto-like",
              "label": "Like",
              "group": "Shop"
            },
            {
              "value": "picto-store",
              "label": "Store",
              "group": "Shop"
            },
            {
              "value": "picto-store-pickup",
              "label": "Store pickup",
              "group": "Shop"
            },
            {
              "value": "picto-love",
              "label": "Love",
              "group": "Shop"
            },
            {
              "value": "picto-donation",
              "label": "Donation",
              "group": "Shop"
            },
            {
              "value": "picto-box",
              "label": "Box",
              "group": "Shipping"
            },
            {
              "value": "picto-address",
              "label": "Address",
              "group": "Shipping"
            },
            {
              "value": "picto-address-pin",
              "label": "Address pin",
              "group": "Shipping"
            },
            {
              "value": "picto-fast-delivery",
              "label": "Fast delivery",
              "group": "Shipping"
            },
            {
              "value": "picto-delivery-truck",
              "label": "Delivery truck",
              "group": "Shipping"
            },
            {
              "value": "picto-return-box",
              "label": "Returns",
              "group": "Shipping"
            },
            {
              "value": "picto-worldwide",
              "label": "World",
              "group": "Shipping"
            },
            {
              "value": "picto-plane",
              "label": "Plane",
              "group": "Shipping"
            },
            {
              "value": "picto-credit-card",
              "label": "Credit card",
              "group": "Payment & Security"
            },
            {
              "value": "picto-lock",
              "label": "Lock",
              "group": "Payment & Security"
            },
            {
              "value": "picto-shield",
              "label": "Shield",
              "group": "Payment & Security"
            },
            {
              "value": "picto-secure-payment",
              "label": "Secure payment",
              "group": "Payment & Security"
            },
            {
              "value": "picto-mobile",
              "label": "Mobile",
              "group": "Communication"
            },
            {
              "value": "picto-phone",
              "label": "Phone",
              "group": "Communication"
            },
            {
              "value": "picto-chat",
              "label": "Chat",
              "group": "Communication"
            },
            {
              "value": "picto-send",
              "label": "Send",
              "group": "Communication"
            },
            {
              "value": "picto-email",
              "label": "Email",
              "group": "Communication"
            },
            {
              "value": "picto-customer-support",
              "label": "Customer support",
              "group": "Communication"
            },
            {
              "value": "picto-operator",
              "label": "Support operator",
              "group": "Communication"
            },
            {
              "value": "picto-virus",
              "label": "Virus",
              "group": "Health"
            },
            {
              "value": "picto-mask",
              "label": "Mask",
              "group": "Health"
            }
          ],
          "default": "picto-customer-support"
        },
        {
          "type": "image_picker",
          "id": "custom_icon_1",
          "label": "Custom icon",
          "info": "48 x 48px .png with transparency recommended"
        },
        {
          "type": "text",
          "id": "title_1",
          "label": "Heading",
          "default": "Shipping & Returns"
        },
        {
          "type": "richtext",
          "id": "content_1",
          "label": "Content",
          "default": "<p>Add text about your shipping policy</p>"
        },
        {
          "type": "header",
          "content": "Text 2"
        },
        {
          "type": "color",
          "id": "trustIconColor_2",
          "label": "Add to trust icon and ",
          "default": "#fff"
        },
        {
          "type": "select",
          "id": "icon_2",
          "label": "Icon",
          "options": [
            {
              "value": "picto-coupon",
              "label": "Coupon",
              "group": "Shop"
            },
            {
              "value": "picto-gift",
              "label": "Gift",
              "group": "Shop"
            },
            {
              "value": "picto-taxes",
              "label": "Taxes",
              "group": "Shop"
            },
            {
              "value": "picto-warranty",
              "label": "Warranty",
              "group": "Shop"
            },
            {
              "value": "picto-like",
              "label": "Like",
              "group": "Shop"
            },
            {
              "value": "picto-store",
              "label": "Store",
              "group": "Shop"
            },
            {
              "value": "picto-store-pickup",
              "label": "Store pickup",
              "group": "Shop"
            },
            {
              "value": "picto-love",
              "label": "Love",
              "group": "Shop"
            },
            {
              "value": "picto-donation",
              "label": "Donation",
              "group": "Shop"
            },
            {
              "value": "picto-box",
              "label": "Box",
              "group": "Shipping"
            },
            {
              "value": "picto-address",
              "label": "Address",
              "group": "Shipping"
            },
            {
              "value": "picto-address-pin",
              "label": "Address pin",
              "group": "Shipping"
            },
            {
              "value": "picto-fast-delivery",
              "label": "Fast delivery",
              "group": "Shipping"
            },
            {
              "value": "picto-delivery-truck",
              "label": "Delivery truck",
              "group": "Shipping"
            },
            {
              "value": "picto-return-box",
              "label": "Returns",
              "group": "Shipping"
            },
            {
              "value": "picto-worldwide",
              "label": "World",
              "group": "Shipping"
            },
            {
              "value": "picto-plane",
              "label": "Plane",
              "group": "Shipping"
            },
            {
              "value": "picto-credit-card",
              "label": "Credit card",
              "group": "Payment & Security"
            },
            {
              "value": "picto-lock",
              "label": "Lock",
              "group": "Payment & Security"
            },
            {
              "value": "picto-shield",
              "label": "Shield",
              "group": "Payment & Security"
            },
            {
              "value": "picto-secure-payment",
              "label": "Secure payment",
              "group": "Payment & Security"
            },
            {
              "value": "picto-mobile",
              "label": "Mobile",
              "group": "Communication"
            },
            {
              "value": "picto-phone",
              "label": "Phone",
              "group": "Communication"
            },
            {
              "value": "picto-chat",
              "label": "Chat",
              "group": "Communication"
            },
            {
              "value": "picto-send",
              "label": "Send",
              "group": "Communication"
            },
            {
              "value": "picto-email",
              "label": "Email",
              "group": "Communication"
            },
            {
              "value": "picto-customer-support",
              "label": "Customer support",
              "group": "Communication"
            },
            {
              "value": "picto-operator",
              "label": "Support operator",
              "group": "Communication"
            },
            {
              "value": "picto-virus",
              "label": "Virus",
              "group": "Health"
            },
            {
              "value": "picto-mask",
              "label": "Mask",
              "group": "Health"
            }
          ],
          "default": "picto-warranty"
        },
        {
          "type": "image_picker",
          "id": "custom_icon_2",
          "label": "Custom icon",
          "info": "48 x 48px .png with transparency recommended"
        },
        {
          "type": "text",
          "id": "title_2",
          "label": "Heading",
          "default": "Warranty"
        },
        {
          "type": "richtext",
          "id": "content_2",
          "label": "Content",
          "default": "<p>Add text about your product warranty</p>"
        },
        {
          "type": "header",
          "content": "Text 3"
        },
        {
          "type": "color",
          "id": "trustIconColor_3",
          "label": "Add to trust icon and ",
          "default": "#fff"
        },
        {
          "type": "select",
          "id": "icon_3",
          "label": "Icon",
          "options": [
            {
              "value": "picto-coupon",
              "label": "Coupon",
              "group": "Shop"
            },
            {
              "value": "picto-gift",
              "label": "Gift",
              "group": "Shop"
            },
            {
              "value": "picto-taxes",
              "label": "Taxes",
              "group": "Shop"
            },
            {
              "value": "picto-warranty",
              "label": "Warranty",
              "group": "Shop"
            },
            {
              "value": "picto-like",
              "label": "Like",
              "group": "Shop"
            },
            {
              "value": "picto-store",
              "label": "Store",
              "group": "Shop"
            },
            {
              "value": "picto-store-pickup",
              "label": "Store pickup",
              "group": "Shop"
            },
            {
              "value": "picto-love",
              "label": "Love",
              "group": "Shop"
            },
            {
              "value": "picto-donation",
              "label": "Donation",
              "group": "Shop"
            },
            {
              "value": "picto-box",
              "label": "Box",
              "group": "Shipping"
            },
            {
              "value": "picto-address",
              "label": "Address",
              "group": "Shipping"
            },
            {
              "value": "picto-address-pin",
              "label": "Address pin",
              "group": "Shipping"
            },
            {
              "value": "picto-fast-delivery",
              "label": "Fast delivery",
              "group": "Shipping"
            },
            {
              "value": "picto-delivery-truck",
              "label": "Delivery truck",
              "group": "Shipping"
            },
            {
              "value": "picto-return-box",
              "label": "Returns",
              "group": "Shipping"
            },
            {
              "value": "picto-worldwide",
              "label": "World",
              "group": "Shipping"
            },
            {
              "value": "picto-plane",
              "label": "Plane",
              "group": "Shipping"
            },
            {
              "value": "picto-credit-card",
              "label": "Credit card",
              "group": "Payment & Security"
            },
            {
              "value": "picto-lock",
              "label": "Lock",
              "group": "Payment & Security"
            },
            {
              "value": "picto-shield",
              "label": "Shield",
              "group": "Payment & Security"
            },
            {
              "value": "picto-secure-payment",
              "label": "Secure payment",
              "group": "Payment & Security"
            },
            {
              "value": "picto-mobile",
              "label": "Mobile",
              "group": "Communication"
            },
            {
              "value": "picto-phone",
              "label": "Phone",
              "group": "Communication"
            },
            {
              "value": "picto-chat",
              "label": "Chat",
              "group": "Communication"
            },
            {
              "value": "picto-send",
              "label": "Send",
              "group": "Communication"
            },
            {
              "value": "picto-email",
              "label": "Email",
              "group": "Communication"
            },
            {
              "value": "picto-customer-support",
              "label": "Customer support",
              "group": "Communication"
            },
            {
              "value": "picto-operator",
              "label": "Support operator",
              "group": "Communication"
            },
            {
              "value": "picto-virus",
              "label": "Virus",
              "group": "Health"
            },
            {
              "value": "picto-mask",
              "label": "Mask",
              "group": "Health"
            }
          ],
          "default": "picto-secure-payment"
        },
        {
          "type": "image_picker",
          "id": "custom_icon_3",
          "label": "Custom icon",
          "info": "48 x 48px .png with transparency recommended"
        },
        {
          "type": "text",
          "id": "title_3",
          "label": "Heading",
          "default": "Secure Payment"
        },
        {
          "type": "richtext",
          "id": "content_3",
          "label": "Content",
          "default": "<p>Add text about your payment</p>"
        }
      ]
    },
    {
      "type": "variant_picker",
      "name": "Variant picker",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "quesionIcon",
          "label": "Custom icon",
          "info": "48 x 48px .png with transparency recommended"
        },
        {
          "type": "checkbox",
          "id": "hide_sold_out_variants",
          "label": "Hide sold out variants",
          "default": false
        },
        {
          "type": "select",
          "id": "selector_mode",
          "label": "Selector type",
          "options": [
            {
              "value": "block",
              "label": "Block"
            },
            {
              "value": "dropdown",
              "label": "Dropdown"
            }
          ],
          "default": "block"
        },
        {
          "type": "select",
          "id": "color_mode",
          "label": "Color selector type",
          "info": "Variant image mode requires that all variant have an associated image. [Learn more](https://help.shopify.com/en/manual/products/product-media/add-images-variants#add-images-to-existing-variants)",
          "options": [
            {
              "value": "block",
              "label": "Block"
            },
            {
              "value": "dropdown",
              "label": "Dropdown"
            },
            {
              "value": "color",
              "label": "Color swatch"
            },
            {
              "value": "variant_image",
              "label": "Variant image"
            }
          ],
          "default": "color"
        },
        {
          "type": "page",
          "id": "size_chart_page",
          "label": "Size chart page",
          "info": "Feature a page for size option"
        }
      ]
    },
    {
      "type": "quantity_selector",
      "name": "Quantity selector",
      "limit": 1
    },
    {
      "type": "buy_buttons",
      "name": "Buy buttons",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_payment_button",
          "label": "Show dynamic checkout button",
          "info": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "default": true
        },
        {
          "type": "color",
          "id": "atc_button_background",
          "label": "Add to cart background",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "color",
          "id": "atc_button_text_color",
          "label": "Add to cart color",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "color",
          "id": "buy_now_button_background",
          "label": "Buy now background",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "color",
          "id": "buy_now_button_text_color",
          "label": "Buy now color",
          "default": "rgba(0,0,0,0)"
        }
      ]
    },
    {
      "type": "description",
      "name": "Description",
      "limit": 1
    },
    {
      "type": "inventory",
      "name": "Inventory",
      "limit": 1,
      "settings": [
        {
          "type": "range",
          "id": "low_inventory_threshold",
          "label": "Low inventory threshold",
          "info": "Use low stock color when quantity is below the threshold. Choose 0 to always show in stock.",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 0
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "select",
          "id": "image_alignment",
          "label": "Alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "left"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 50,
          "max": 500,
          "step": 10,
          "unit": "px",
          "label": "Width",
          "default": 150
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "settings": [
        {
          "type": "paragraph",
          "content": "Create link to your contact page, external marketplace..."
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "checkbox",
          "id": "stretch",
          "label": "Stretch button",
          "default": true
        },
        {
          "type": "color",
          "id": "background",
          "label": "Background",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text color",
          "default": "rgba(0,0,0,0)"
        }
      ]
    },
    {
      "type": "liquid",
      "name": "Custom Liquid",
      "settings": [
        {
          "type": "liquid",
          "id": "liquid",
          "label": "Liquid",
          "info": "Add app snippets or other Liquid code to create advanced customizations."
        }
      ]
    },
    {
      "type": "line_item_property",
      "name": "Line item property",
      "settings": [
        {
          "type": "paragraph",
          "content": "Line item properties are used to collect customization information for an item added to the cart."
        },
        {
          "type": "text",
          "id": "label",
          "label": "Label",
          "default": "Your label"
        },
        {
          "type": "select",
          "id": "type",
          "label": "Type",
          "options": [
            {
              "value": "text",
              "label": "Text"
            },
            {
              "value": "checkbox",
              "label": "Checkbox"
            }
          ],
          "default": "text"
        },
        {
          "type": "header",
          "content": "Text",
          "info": "Only applicable for line item property of type Text."
        },
        {
          "type": "checkbox",
          "id": "required",
          "label": "Required",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "allow_long_text",
          "label": "Allow long text",
          "default": false
        },
        {
          "type": "header",
          "content": "Checkbox",
          "info": "Only applicable for line item property of type Checkbox."
        },
        {
          "type": "text",
          "id": "checked_value",
          "label": "Checked value",
          "default": "Yes"
        },
        {
          "type": "text",
          "id": "unchecked_value",
          "label": "Unchecked value",
          "default": "No"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "checkbox",
      "id": "hide_img_title",
      "label": "Show Image Title",
      "default": false
    },
              {
            "type": "color",
            "id": "ImageTitleBg",
            "label": "Image Title Background",
            "default": "#ededed"
          },
    {
      "type": "checkbox",
      "id": "hide_first_image",
      "label": "Hide First Image",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": "Show vendor",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_sku",
      "label": "Show SKU",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_taxes_included",
      "label": "Show taxes included",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_product_rating",
      "label": "Show product rating",
      "info": "To display a rating, add a product rating app. [Learn more](https://help.shopify.com/en/manual/products/product-reviews/installation)",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_sticky_add_to_cart",
      "label": "Show sticky add to cart",
      "info": "Will be hidden if no Buy buttons block is added onto the page.",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": "Show share buttons",
      "default": true
    },
    {
      "type": "page",
      "id": "help_page",
      "label": "Help page",
      "info": "Feature a page to help your customers"
    },
    {
      "type": "header",
      "content": "Media"
    },
    {
      "type": "paragraph",
      "content": "Learn more about [media types](https://help.shopify.com/en/manual/products/product-media)"
    },
    {
      "type": "checkbox",
      "id": "enable_video_autoplay",
      "label": "Enable video autoplay",
      "info": "Video are muted automatically to allow autoplay",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "label": "Enable video looping",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_image_zoom",
      "label": "Enable image zoom",
      "info": "Zoom does not show video nor 3D models.",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_thumbnails_on_mobile",
      "label": "Show thumbnails on mobile",
      "default": false
    },
    {
      "type": "select",
      "id": "desktop_thumbnails_position",
      "label": "Desktop thumbnails position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ],
      "default": "bottom"
    },
    {
      "type": "select",
      "id": "transition_effect",
      "label": "Transition effect",
      "options": [
        {
          "value": "slide",
          "label": "Slide"
        },
        {
          "value": "fade",
          "label": "Fade"
        }
      ],
      "default": "slide"
    },
    {
      "type": "header",
      "content": "Dark Mode"
    },
    {
      "type": "checkbox",
      "id": "enable_dark_mode",
      "label": "Enable Dark Mode",
      "default": false
    },
   {
      "type": "color",
      "id": "default_background_color",
      "label": "Background",
      "default": "#ffffff"
    },
     {
      "type": "color",
      "id": "default_text_color",
      "label": "Text",
      "default": "#000000",
       "info":"Options below for dark mode only"
    },
    {
      "type": "color",
      "id": "default_background_color2",
      "label": "Image Background",
      "default": "#ffffff"
      
    },
    {
      "type": "color",
      "id": "boxBG",
      "label": "Dropdown Background"
    },
     {
      "type": "color",
      "id": "boxBG2",
      "label": "Dropdown Hover Background"
    },
     {
      "type": "color",
      "id": "boxText",
      "label": "Dropdown Text"
    },
    {
      "type": "header",
      "content": "🚨 Advanced"
    },
    {
      "type": "html",
      "id": "custom_css",
      "label": "CSS"
    },
    {
      "type": "html",
      "id": "mobile_custom_css",
      "label": "Mobile CSS",
      "info": "Applied on screens less than 480px."
    }
  ]
}
{% endschema %}
